body {
    font-family: "Roboto", Arial, serif;
    background-color: #d1ffb6;
}

#app-content {
    margin: 0 -10px;
}

#app-header {
    background-color: #aad26e;
    border: #507E32 1px solid;
    margin: 0 5px 5px 5px;
    text-align: center;
    border-top: none;
    font-size: 16pt;
    color: #000000;
    padding: 5px;
}

#app-header .user-area {
    font-weight: normal;
    margin: 5px 5px 0 0;
    font-size: 11pt;
}

#app-header .user-area span {
    margin-right: 15px;
}

#app-footer {
    background-color: #aad26e;
    border: #507E32 1px solid;
    font-weight: normal;
    text-align: center;
    font-size: 12pt;
    padding: 5px;
    color: black;
    margin: 5px;
    clear: both;
}

.box {
    border: #507E32 1px solid;
    background: #aad26e;
    display: block;
    margin: 15px 0;
    padding: 10px;
    width: 100%;
}

ul.sidebar-menu {
    padding: 0 5px;
}

ul.sidebar-menu li {
    list-style-type: none;
    cursor: pointer;
    color: #1c381c;
    padding: 2px;
}

ul.sidebar-menu li:hover {
    background: #9ec684; ;
}

ul.sidebar-menu li.special {
    font-style: italic;
}

ul.sidebar-menu li.selected {
    border: 1px solid #7f6000;
    background: #daa600;
}

ul.sidebar-menu li a, ul.sidebar-menu li a:focus {
    text-decoration: none;
    display: block;
    color: #1c381c;
    outline: none;
}

.link {
    border-bottom: 1px dotted #2E75B6;
    text-decoration: none;
    cursor: pointer;
    color: #2e75b6;
    padding: 0;
}

.link:hover {
    text-decoration: none;
    color: #29619d;
}

.ad-image {
    max-width: 150px;
}

h1, h2, h3 {
    margin: 0 0 10px 0 !important;
}

.dot-box {
    background-color: #c3ffab;
    border: 1px dotted #000;
    padding: 10px;
}

.box label {
    font-size: 15px;
    padding: 10px 0;
}

.ad-info-holder {
    padding: 0;
}

.ad-info-holder > p { 
    margin: 0 15px;
}

.ad-info-holder > p,
.ad-info-holder > div {
    margin-bottom: 7px;
}

#main-content {
    padding: 10px;
}

#login-box {
    border: 1px solid #507d31;
    border-radius: 10px;
    padding: 10px;
    background-color: #aad26e;
}

button, input[type="button"], input[type="submit"] {
    background-color: #6fac46 !important;
    border: 1px solid #507d31 !important;
    border-radius: 5px !important;
}